<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./style.css">
    <title>SimpleApp</title>

</head>
<body>

    <div class="main" ng-app="mylist"  ng-controller="ctr" > 
        <h1>Item's List</h1>
        <div class="addItem" >
            <input ng-model="newitem" placeholder="Add Item" class="addtext">
        
            <button ng-click="pushitem()">Add</button>
        
             
        </div>        
        <ul>
            <li ng-repeat="i in items">
                {{i}}
                <span ng-click="remove($index)">x</span>
            </li>
            
           
        </ul>        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>